---
import BaseHead from '../../../components/BaseHead.astro';
import Header from '../../../components/Header.astro';
import Footer from '../../../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../../../consts';
import { getNewsList, News } from '../../../library/microcms';
import type { GetStaticPathsOptions } from 'astro';

export const getStaticPaths = async ({ paginate }: GetStaticPathsOptions) => {
  const pageSize = 3 // 3記事ずつにページを分割
  const response = await getNewsList({
    fields: ['id', 'title'],
    limit: 1000,
    orders: '-publishedAt',
  })
  return paginate(response.contents, { pageSize });
};
const { page } = Astro.props;
export interface Props {
  page: {
    url: {
      prev: string
      next: string
    }
    currentPage: number
    data: News[]
  }
}
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header title={SITE_TITLE} />
		<main>
      <h1>News</h1>
      <ul class="p-8">
        {page.data.map(content =>
          <li>
            <a href={`/news/${content.id}`}>{content.title}</a>
          </li>
        )}
      </ul>
      <nav class="flex justify-between w-full">
        <a class="p-2 border border-slate-400 rounded-sm" class:list={[{'pointer-events-none': !page.url.prev, 'opacity-30': !page.url.prev}]} href={page.url.prev}>&lt;</a>
        <a class="p-2 border border-slate-400 rounded-sm" class:list={[{'pointer-events-none': !page.url.next, 'opacity-30': !page.url.next}]} href={page.url.next}>&gt;</a>
      </nav>
		</main>
		<Footer />
	</body>
</html>
